body {
    background: #dddddd;
    margin: 0;
    border: 0;
}

.title {
    background: #e96661;
    text-align: center;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

}

.headerIntro {
    font-size: 1em;
    margin: 0;
    padding: 30px;
    padding-bottom: 0;
}

.headerName {
    font-weight: bolder;
    font-size: 3.5em;
    margin: 0;
    padding-bottom: 15px;
}

.headerImg {
    border-radius: 3%;
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    margin-top: 175px;
}

.headerImageCaption {
    font-style: italic;
    text-align: center;
    padding: 5px;
    margin: 0;
}

.topQuote {
    display: flex;
    flex-direction: row;
}

.linebar {

}

.firstQuote, .secondQuote {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: justify;
    font-size: 1.5em;
    padding-right: 10px;
    padding-left: 10px;
    color: #333333;
}

.quotesAndSummary p, .timelineAll p, .timelineAll h2{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

strong {
    margin-right: 15px;
}


